#tablePart{
    font-size: 90%;
    /*border: 1px solid gray;*/
}
#TitleDefault{
    background-color: gray;
}
#TitleHistory{
    background-color: darkgray;
    color: white;
}
#History {
    height: 90%;
    position: absolute;
    right: 0.5%;
    left: 0.5%;
    bottom: 1%;
    top: 55px;
}
td{
    width: 18%;
}
#body{
    overflow: auto;
    margin-top: -22px;
    margin-right: 0.5px;
    border: gray;
    border-style: solid;
    height: 89%;
}