#History {
    float : right;
    width: 50%;
    height: 50%;
    border: gray;
    border-style: solid;
    position: absolute;
    overflow: auto;
    right: 0.5%;
    bottom : 1%;
    top : 55px;
}
#TitleHistory{
    background-color: darkgray;
    color: white;
}
#TitleDefault{
    background-color: gray;
}
#Information{
    float: left;
    left: 0.5%;
    bottom : 1%;
    max-width: 50%;
    position: absolute;
    top : 100px;
}
#tablePart{
    font-size: 90%;
    border: 1px solid gray;
}
#RecommandedAction{
    position: absolute;
    top : 400px;
    bottom : 1%;
    left: 0.5%;
}
#notif
{
    font-family:fantasy;
    color: red;
}