table{
    position: relative;
    left: 15px;

}
th,td
{
    border-collapse: collapse;
    width: 20%;
    height: 50px;
    padding: 15px;
    text-align: left;
    border: 1px solid black;
}

.deleteUser{
    width: 10%
}