#PartTable {
    float: left;
    border: gray;
    border-style: solid;
    left: 0.5%;
    bottom : 1%;
    width: 60%;
    position: absolute;
    /*overflow:auto;*/
    top : 150px;
}
#body{
    overflow:auto;
    max-height: 92.5%;
    margin-top: -21px;
}
th,td{
    width: 20%;
}